extends ../../layout.pug

block content
    p
        strong Thank you very much for your gift!

    p Your chosen payment method was #{giftSet.paymentMethod}

    if giftSet.paymentMethod === PAYMENT_METHODS.PAYPAL
        p
            a(href=paypalLink) Click here to pay with PayPal.Me
    else
        p If you do change you mind and want to pay with PayPal, then #[a(href=paypalLink) click here to pay with PayPal.Me]

    table.breakdown
        thead
            tr
                th.text-column Name
                th.numeric-column Price (£)
                th.numeric-column Quantity
                th.numeric-column Total (£)
        tbody
            each gift in giftSet.gifts
                tr
                    td.text-column #{gift.name}
                    td.numeric-column #{gift._pivot_price}
                    td.numeric-column #{gift._pivot_quantity}
                    td.numeric-column #{gift._pivot_price * gift._pivot_quantity}

    p
        strong Total £#{giftSet.total}

    p #{signature}
