doctype html
html
    body
        h1 Thank you very much for your gift!

        p Your chosen payment method was #{giftSet.paymentMethod}.

        if giftSet.paymentMethod === PAYMENT_METHODS.PAYPAL
            p Here is the link #{paypalLink}.
        else
            p If you do change you mind and want to pay with PayPal, here is the link #{paypalLink}.

        table(style="text-align: left;")
            thead
                tr
                    th Name
                    th Price (£)
                    th Quantity
                    th Total (£)
            tbody
                each gift in giftSet.gifts
                    tr
                        td #{gift.honeymoonGiftListItem.name}
                        td #{gift.price}
                        td #{gift.quantity}
                        td #{gift.total}

        h3 Total £#{giftSet.total}
